body{
    background-color: rgb(236, 221, 137);
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}